header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #05716c;
  color: #fff;
  padding: 0px 20px;
  height: 100px;

  h3.logo {
    font-size: 20px;
    margin: 0;
  }

  .app-nav {
    display: flex;
    gap: 20px;
    font-size: 18px;
  }
}
