.user-form {
  display: flex;
  justify-content: center;
  margin: 60px;

  .form-inputs {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 70px;
    margin: 30px 0;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
  }

  button {
    align-self: flex-end;
    padding: 8px 24px;
    font-size: 14px;
  }
}

.hobbies {
  ::ng-deep .mat-form-field-wrapper {
    flex-wrap: nowrap;
    width: 230%;
  }
}

.date-picker {
  ::ng-deep .mat-form-field-infix {
    display: flex;
    padding: 0;
  }
}

.color {
  ::ng-deep .mat-form-field-infix {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .user-form {
    justify-content: flex-start;
    margin: 100px;
    .form-inputs {
      flex-direction: column;
      align-items: flex-start;
    }
    button {
      align-self: center;
    }
    .form {
      gap: 30px;
      margin: 10px 0;
    }

    .hobbies {
      ::ng-deep .mat-form-field-wrapper {
        width: 150%;
      }
    }
  }
}
