<section class="user-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="form">
    <div>
      <h2>Personal details:</h2>
      <div class="form-inputs">
        <mat-form-field appearance="fill">
          <mat-label floatLabel="always">Full Name:</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Ex. pat@example.com"
          />

          <mat-error
            *ngIf="userForm.hasError('email') && !userForm.hasError('required')"
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="userForm.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Gender:</mat-label>
          <mat-select formControlName="gender">
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let gender of genders"
              [value]="gender.viewValue"
            >
              {{ gender.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.hasError('required')"
            >Please choose gender</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-inputs">
        <mat-form-field appearance="fill" class="date-picker">
          <mat-label>Birth date:</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDay" />

          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #picker
            startView="multi-year"
            [startAt]="startDate"
          ></mat-datepicker>
        </mat-form-field>

        <div class="hobbies">
          <mat-form-field appearance="fill">
            <mat-label>Hobbies</mat-label>
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let option of selectedHobbies"
                [selectable]="true"
                [removable]="true"
                (removed)="removeOption(option)"
              >
                {{ option }}
                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
              </mat-chip>
              <input
                matInput
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addOption($event)"
                formControlName="hobbies"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="optionSelected($event)"
            >
              <mat-option
                *ngFor="let option of filteredHobbies | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div>
      <h2>Address:</h2>
      <div class="form-inputs">
        <mat-form-field appearance="fill">
          <mat-label floatLabel="always">Street:</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label floatLabel="always">City:</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label floatLabel="always">Country:</mat-label>
          <input matInput formControlName="country" />
        </mat-form-field>
      </div>
    </div>

    <div>
      <h2>Car preferences:</h2>

      <div class="form-inputs">
        <mat-form-field appearance="fill">
          <mat-label>Engine Type:</mat-label>
          <mat-select formControlName="engine">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let motor of engine" [value]="motor.viewValue">
              {{ motor.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.hasError('required')"
            >Please choose type</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" class="color">
          <mat-label floatLabel="always">Favorite color:</mat-label>
          <input matInput type="color" formControlName="color" value="" />
          <mat-error *ngIf="userForm.hasError('required')"
            >Please choose favorite color</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Seats:</mat-label>
          <mat-select formControlName="seats">
            <mat-option> -- </mat-option>
            <mat-option *ngFor="let seat of seats" [value]="seat.viewValue">
              {{ seat.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.hasError('required')"
            >Please choose seats number</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</section>
